<div class="snow_container">
  <img
    class="snowflake-small"
    style="left: 70%"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-small"
    style="left: 20%; animation-delay: 2s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-small"
    style="left: 10%; animation-delay: 16s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-small"
    style="left: 80%; animation-delay: 12s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-small"
    style="left: 25%; animation-delay: 10s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 52%; animation-delay: 0"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 58%; animation-delay: 2.5s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 62%; animation-delay: 9s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 11%; animation-delay: 4s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 20%; animation-delay: 8s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 66%; animation-delay: 3s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 2%; animation-delay: 10s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 42%; animation-delay: 6s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 57%; animation-delay: 13s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 59%; animation-delay: 8s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake"
    style="left: 48%; animation-delay: 3s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-big"
    style="left: 33%; animation-delay: 1s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-big"
    style="left: 21%; animation-delay: 10s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-big"
    style="left: 81%; animation-delay: 8s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-big"
    style="left: 1%; animation-delay: 4s"
    src="assets/snowflake.png"
    alt=""
  />
  />
  <img
    class="snowflake-big"
    style="left: 89%; animation-delay: 2s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-big"
    style="left: 70%; animation-delay: 14s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-big"
    style="left: 55%; animation-delay: 5s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-big"
    style="left: 99%; animation-delay: 7s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-big"
    style="left: 3%; animation-delay: 10s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-big"
    style="left: 46%; animation-delay: 16s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-large"
    style="left: 77%; animation-delay: 6s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-large"
    style="left: 14%; animation-delay: 5s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-large"
    style="left: 58%; animation-delay: 9s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-large"
    style="left: 61%; animation-delay: 3s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-large"
    style="left: 44%; animation-delay: 10s"
    src="assets/snowflake.png"
    alt=""
  />
  <img
    class="snowflake-large"
    style="left: 6%; animation-delay: 14s"
    src="assets/snowflake.png"
    alt=""
  />
</div>
